@charset "UTF-8";
/* CSS Document */

*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {font-family: 'Open Sans', sans-serif;}

#home {background-color:#f8e514;}
#home .wrapper {position: relative; min-height:780px;}
#features {clear: both; overflow:auto; min-height:780px;}
#gallery {clear: both; background-color:#fafafa; overflow:auto;}
#about {background-color:#fafafa;}
.wrapper {background-color:#f8e514; max-width:1170px; margin:0 auto;}

.intro {float:left; width:45%; margin-top:350px;}

.clear {clear:both;}
.img {img:100%}
.video img {width:100%}
.featured-in img {width:100%}

.column-features {width:33%; float:left; padding-right:30px; padding-left:30px;}
.column-about {background-color:#fafafa; width:25%; float:left;}
.column-screen {background-color:#fafafa; width:20%; float:left;}
.column-screen img {width:100%;}

ul {list-style-type:none; padding:0;}
nav li {float:left; display:inline;}
nav a {display: block; width: 50px; padding-right: 85px}
.logo {float:left;}
nav {width:50%; float:right;}

.column-features img {width:100%}
.column-gallery img {width:100%}
.column-about img {width:100%}

header {background:white; overflow:auto; position:fixed; top:30px; width:100%; max-width: 1170px; margin: 0 auto; z-index:1;}