@charset "UTF-8";
/* CSS Document */

#home {background-color:yellow;}
#gallery {clear: both; background-color: gray; overflow:auto;}
#about {background-color: gray;}
.wrapper {background-color:aqua; max-width:1170px; margin: 0 auto;}

.clear {clear:both;}

.column-features {background-color: yellow; width:33%; float:left;}
.column-about {background-color: gray; width:25%; float:left;}
.column-screen {background-color: gray; width:20%; float:left;}
.column-screen img {width:100%;}

ul {list-style-type:none; padding:0;}
nav li {float:left; display:inline;}
nav a {display: block; width: 50px; padding-right: 50px}
.logo {float:left;}
nav {width:50%; float:right;}

